.experienceContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.experienceView {
  width: 100%;
}

.line {
  margin-top: 2px;
  height: 2px;
  width: 100%;
  background-color: #333;
}

.projectFeats {
  margin-top: 5px;
}

.experienceh1 {
  font-size: 1.1rem;
}

.titleAndDate {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  line-height: 10px;
}

.company {
  font-style: italic;
  margin: 0;
}

.accomplishments {
  padding-left: 20px;
}

.padding {
  padding-top: 6px;
  padding-left: 20px;
}

.tech {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.top {
  margin-bottom: -8px;
}

.titleAndLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.column {
  flex-direction: column;
  gap: 10px;
}

.blue {
  color: light-blue;
}

.black {
  font-weight: normal;
}
